.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        SMS Message
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            = @sms_message.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
        .box-body
          %p.lead
            Date/Time of text message:
            = @sms_message.created_at.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
          %p.lead
            To:
            = @sms_message.customer.full_name
          %p.lead
            From:
            = @sms_message.user.full_name unless @sms_message.user.blank?
          %p.lead
            Body:
            %br
            = @sms_message.body
        .box-footer
          = link_to 'Back', :back, class: 'btn btn-default'