- unless @devices.blank?
  .table-responsive
    %table.table.table-striped.table-condensed.table-bordered
      %thead
        %tr
          %th{:scope => "col"} ID
          %th{:scope => "col"} Name
          %th{:scope => "col"} State
          %th{:scope => "col"} Recent Status
          - if @bin_1_column_count > 0
            %th{:scope => "col"} Bin 1
          - if @bin_2_column_count > 0
            %th{:scope => "col"} Bin 2
          - if @bin_3_column_count > 0
            %th{:scope => "col"} Bin 3
          - if @bin_4_column_count > 0
            %th{:scope => "col"} Bin 4
          - if @bin_5_column_count > 0
            %th{:scope => "col"} Bin 5
          - if @bin_6_column_count > 0
            %th{:scope => "col"} Bin 6
          - if @bin_7_column_count > 0
            %th{:scope => "col"} Bin 7
          - if @bin_8_column_count > 0
            %th{:scope => "col"} Bin 8
          %th{:scope => "col"} Remaining
          %th
      %tbody
        - @devices.each do |device|
          %tr
            %td= link_to device.id, device
            %td= device.description
            %td= device.online.blank? ? 'N/A' : "#{device_state_descriptions[device.online.to_i].truncate(15)}"
            %td
              %a.btn.btn-xs.bg-green.pull-right{"data-content" => "#{device.dev_statuses.last.status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{device.dev_statuses.last.status}"} 
                = device.dev_statuses.last.status
              -#
                - if device.critical_status?
                  %a.btn.btn-xs.bg-red{"data-content" => "#{device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus", :tabindex => "0"} 
                    Critical
                - elsif device.caution_status?
                  %a.btn.btn-xs.bg-orange{"data-content" => "#{device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus", :tabindex => "0"}
                    Caution
                - else
                  = device.status_string
            = render partial: "devices/bin_details", locals: {device: device}
            %td= number_to_currency(device.remaining)
            %td= link_to 'More', device, class: 'btn btn-primary btn-sm'
- else
  %p None

:javascript
  $('[data-toggle="popover"]').popover();