.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        %i.fa.fa-money
        ATMs
    / Main content
    %section.content
      .box.box-primary{"data-widget" => "box-widget"}
        .box-header.with-border
          %h3.box-title 

          .box-tools.pull-right
            = form_tag devices_path, id: 'devices_search_form', method: 'get', class: 'form-inline' do |f|
              .input-group.input-group-sm
                = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                .input-group-append
                  %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                    %i.fa.fa-search
        .box-body.no-padding
          - unless @devices.blank?
            .table-responsive
              %table.table.table-striped.table-condensed
                %thead
                  %tr
                    %th{:scope => "col"} ID
                    %th{:scope => "col"} State
                    %th{:scope => "col"} Status
                    %th{:scope => "col"} Remaining
                    %th
                %tbody
                  - @devices.each do |device|
                    %tr
                      %td= device.id
                      %td= device.online.blank? ? 'N/A' : "#{device_state_descriptions[device.online.to_i].truncate(15)}"
                      %td= device.status_string
                      %td= number_to_currency(device.remaining)
                      %td= link_to 'More', device, class: 'btn btn-primary btn-sm'
          - else
            %p None
          .box-footer
            -#
              .pull-right= paginate @customers, param_name: 'result1'