.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-money
        = @device.id
        = @device.description
        %small
          = form_tag @device, id: 'device_refresh_form', method: 'get', class: 'form-inline' do |f|
            .input-group
              %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-refresh fa-spin'></i>"}}
                %i.fa.fa-refresh
      %p.text-muted
        Remaining:
        = number_to_currency(@device.remaining)
    / Main content
    %section.content
      / Default box
      .row
        .col-md-3
          .box.box-primary
            .box-body.box-profile
              %h3.profile-username.text-center= "ATM: #{device_state_descriptions[@device.online]}"

              %ul.list-group.list-group-unbordered
                %li.list-group-item
                  %b 
                    %i.fa.fa-bolt.margin-r-5
                    Transactions in 30 days
                  %a.pull-right= @transactions.count
                %li.list-group-item
                  %b 
                    %i.fa.fa-signal.margin-r-5
                    Recent Status
                  %a.btn.btn-sm.bg-green.pull-right{"data-content" => "#{@dev_statuses.first.status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{@dev_statuses.first.status}"} 
                    = @dev_statuses.first.status
                    -#
                      - if @device.critical_status?
                        %a.btn.btn-xs.btn-danger{"data-content" => "#{@device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{@device.caution_status_description}"} 
                      - elsif @device.caution_status?
                        %a.btn.btn-xs.btn-warning{"data-content" => "#{@device.caution_status_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{@device.caution_status_description}"} 
                      - else
                        = @device.status_string
                %li.list-group-item
                  %b 
                    %i.fa.fa-info-circle.margin-r-5
                    Some Info
                  %a.pull-right And more info

              %a.btn.btn-default.btn-block{"data-target" => "#commands-modal", "data-toggle" => "modal", :type => "button"}
                %b
                  %i.fa.fa-arrows-alt
                  ATM Commands
              #commands-modal.modal.fade
                .modal-dialog.modal-sm
                  .modal-content
                    .modal-header
                      -#
                        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                          %span{"aria-hidden" => "true"} ×
                      %h5.modal-title
                        %i.fa.fa-arrows-alt
                        ATM Commands
                    .modal-body
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_reset"), "data-device-id" => @device.id, "data-command" => "atm_reset", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Reset"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Reset
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_load"), "data-device-id" => @device.id, "data-command" => "atm_load", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Load"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Load
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_up"), "data-device-id" => @device.id, "data-command" => "atm_up", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Up"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Up
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_down"), "data-device-id" => @device.id, "data-command" => "atm_down", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Down"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Down
                      %a.btn.btn-primary.btn-block{href: send_atm_command_device_path(@device, command: "atm_disconnect"), "data-device-id" => @device.id, "data-command" => "atm_disconnect", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Disconnect"}}
                        %i.fa.fa-spinner.fa-spin{style: 'display:none;'}
                        Disconnect
                    .modal-footer
                      %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Done
              -#
                #modal-default.modal.fade
                  .modal-dialog
                    .modal-content
                      .modal-header
                        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                          %span{"aria-hidden" => "true"} ×
                        %h4.modal-title Default Modal
                      .modal-body
                        %p One fine body…
                      .modal-footer
                        %button.btn.btn-default.pull-left{"data-dismiss" => "modal", :type => "button"} Close
                        %button.btn.btn-primary{:type => "button"} Save changes
                    / /.modal-content
                  / /.modal-dialog
                / /.modal
        .col-md-9
          .box.box-primary
            .box-body
              %ul#myTab.nav.nav-tabs.nav-fill{:role => "tablist"}
                %li.nav-item
                  %a#transactions-tab.nav-link.active{"aria-controls" => "transactions", "aria-selected" => "true", "data-toggle" => "tab", :href => "#transactions", :role => "tab"} 
                    %i.fa.fa-bolt
                    = "Transactions" unless browser.device.mobile?
                %li.nav-item
                  %a#statuses-tab.nav-link{"aria-controls" => "statuses", "aria-selected" => "false", "data-toggle" => "tab", :href => "#statuses", :role => "tab"} 
                    %i.fa.fa-signal
                    = "Statuses" unless browser.device.mobile?
                %li.nav-item
                  %a#cuts-tab.nav-link{"aria-controls" => "cuts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#cuts", :role => "tab"} 
                    %i.fa.fa-credit-card
                    = "Cuts" unless browser.device.mobile?
                -#
                  %li.nav-item
                    %a#accounts-tab.nav-link{"aria-controls" => "accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#accounts", :role => "tab"} 
                      %i.fa.fa-info-circle
                      = "Acounts" unless browser.device.mobile?
              #myTabContent.tab-content
                #transactions.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  = render partial: "transactions/index"
                #statuses.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %br
                  .row
                    .col-md-6
                      .box.box-success
                        .box-header.with_border
                          .box-title
                            ATM
                        .box-body
                          = render partial: "dev_statuses/index"
                    .col-md-6
                      .box.box-warning
                        .box-header.with_border
                          .box-title
                            Cassettes
                        .box-body
                          = render partial: "cassettes"
                #cuts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  = render partial: "cuts"
                -#
                  #accounts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                    Accounts
                
:javascript
  //*** Remember the selected tab on page refresh ***
  $(function() {
    //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
    $('a[data-toggle="tab"]').on('click', function (e) {
      //save the latest tab; use cookies if you like 'em better:
      localStorage.setItem('lastTab', $(e.target).attr('href'));
    });
    //go to the latest tab, if it exists:
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
    }
  });