.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-money
        = @device.description
      %p.text-muted
        Remaining
        = number_to_currency(@device.remaining)
    / Main content
    %section.content
      / Default box
      .row
        .col-md-3
          .box.box-primary
            .box-body.box-profile
              %h3.profile-username.text-center= "Status: #{device_state_descriptions[@device.online]}"

              %ul.list-group.list-group-unbordered
                %li.list-group-item
                  %b 
                    %i.fa.fa-info-circle.margin-r-5
                    Info 1
                  %a.pull-right Some info
                %li.list-group-item
                  %b 
                    %i.fa.fa-info-circle.margin-r-5
                    Info 2
                  %a.pull-right More info
                %li.list-group-item
                  %b 
                    %i.fa.fa-info-circle.margin-r-5
                    Info 3
                  %a.pull-right And more info
              %a.btn.btn-success.btn-block{href: '#', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Do Something"}}
                %b 
                  %i.fa.fa-asterisk
                  Do Something
              %a.btn.bg-orange.btn-block{:href => "#", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Do Something Else"}}
                %b 
                  %i.fa.fa-archive
                  Do Something Else
        .col-md-9
          .box.box-primary
            .box-body
              %ul#myTab.nav.nav-tabs.nav-fill{:role => "tablist"}
                %li.nav-item
                  %a#transactions-tab.nav-link.active{"aria-controls" => "transactions", "aria-selected" => "true", "data-toggle" => "tab", :href => "#transactions", :role => "tab"} 
                    %i.fa.fa-info-circle
                    = "Transactions" unless browser.device.mobile?
                %li.nav-item
                  %a#statuses-tab.nav-link{"aria-controls" => "statuses", "aria-selected" => "false", "data-toggle" => "tab", :href => "#statuses", :role => "tab"} 
                    %i.fa.fa-info-circle
                    = "Statuses" unless browser.device.mobile?
                %li.nav-item
                  %a#cuts-tab.nav-link{"aria-controls" => "cuts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#cuts", :role => "tab"} 
                    %i.fa.fa-info-circle
                    = "Cuts" unless browser.device.mobile?
                %li.nav-item
                  %a#accounts-tab.nav-link{"aria-controls" => "accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#accounts", :role => "tab"} 
                    %i.fa.fa-info-circle
                    = "Acounts" unless browser.device.mobile?
              #myTabContent.tab-content
                #payments.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  - unless @payment_transactions.blank?
                    .table-responsive
                      %table.table.table-striped{class: "#{browser.device.mobile? ? 'table-sm' : ''}"}
                        %thead
                          %tr
                            %th Date
                            %th Description
                            %th Amount
                            %th
                        %tbody
                          - @payment_transactions.each do |payment_transaction|
                            %tr
                              %td= payment_transaction.date_time.strftime("%^b %d")
                              %td= payment_transaction.Description
                              %td= number_to_currency(payment_transaction.amt_auth)
                              %td= link_to "More", payment_transaction, class: 'btn btn-primary'
                    .pull-right= paginate @payment_transactions, param_name: 'payments'
                  - else
                    %p.text-center None

                #withdrawals.tab-pane.fade{"aria-labelledby" => "profile-tab", :role => "tabpanel"}
                  - unless @withdrawal_transactions.blank?
                    .table-responsive
                      %table.table.table-striped{class: "#{browser.device.mobile? ? 'table-sm' : ''}"}
                        %thead
                          %tr
                            %th Date
                            %th Description
                            %th Amount
                            %th
                        %tbody
                          - @withdrawal_transactions.each do |withdrawal_transaction|
                            %tr
                              %td= withdrawal_transaction.date_time.strftime("%^b %d")
                              %td= withdrawal_transaction.Description
                              %td= number_to_currency(withdrawal_transaction.amt_auth)
                              %td= link_to "More", withdrawal_transaction, class: 'btn btn-primary'
                    .pull-right= paginate @withdrawal_transactions, param_name: 'withdrawals'
                  - else
                    %p.text-center None 

                #messages.tab-pane.fade{"aria-labelledby" => "contact-tab", :role => "tabpanel"}
                  - unless @sms_messages.blank?
                    .table-responsive
                      %table.table.table-striped{class: "#{browser.device.mobile? ? 'table-sm' : ''}"}
                        %thead
                          %tr
                            %th Sent
                            %th From
                            %th Message Body
                            %th
                        %tbody
                          - @sms_messages.each do |sms_message|
                            %tr
                              %td= sms_message.created_at.strftime("%-m/%-d/%y %l:%M %p")
                              %td
                                - unless sms_message.user.blank?
                                  = sms_message.user.full_name unless sms_message.user.blank?
                                - else
                                  = sms_message.company.name
                              %td= sms_message.body
                              %td= link_to "More", sms_message, class: 'btn btn-primary'
                    .pull-right= paginate @sms_messages, param_name: 'messages'
                  - else
                    %p.text-center None

  .panel.panel-primary
    .panel-heading
      %h3.panel-title
        =# "Device #{@device.id} - #{device_state_descriptions[@device.online]}"
        = "#{@device.description} - #{device_state_descriptions[@device.online]}"
        -#
          .pull-right= number_to_currency(Device.remaining(@wsdl_device['dev_id']))
        -# .pull-right= number_to_currency(Device.remaining(@device.id))
          
    .panel-body
      %ul{class: "nav nav-tabs"}
        %li.active{:role => "presentation"}
          %a{:href => "#transactions", :data => {:toggle => "tab"}} Transactions
        %li{:role => "presentation"}
          %a{:href => "#statuses", :data => {:toggle => "tab"}} Statuses
        %li{:role => "presentation"}
          %a{:href => "#cuts", :data => {:toggle => "tab"}} Cuts
        %li{:role => "presentation"}
          %a{:href => "#accounts", :data => {:toggle => "tab"}} Accounts
      .tab-content
        .tab-pane.active{:id => "transactions"}
          = render template: "transactions/index"
        .tab-pane{:id => "statuses"}
          =# render partial: "statuses"
        .tab-pane{:id => "cuts"}
          .row-fluid
            =# render partial: 'cuts'
        .tab-pane{:id => "accounts"}
          .row-fluid
            =# render template: "cards/index"


:javascript
  //*** Remember the selected tab on page refresh ***
  $(function() {
    //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
    $('a[data-toggle="tab"]').on('click', function (e) {
      //save the latest tab; use cookies if you like 'em better:
      localStorage.setItem('lastTab', $(e.target).attr('href'));
    });
    //go to the latest tab, if it exists:
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
    }
  });