.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-money
        = @device.description
      %p.text-muted
        Remaining:
        = number_to_currency(@device.remaining)
    / Main content
    %section.content
      / Default box
      .row
        .col-md-3
          .box.box-primary
            .box-body.box-profile
              %h3.profile-username.text-center= "ATM: #{device_state_descriptions[@device.online]}"

              %ul.list-group.list-group-unbordered
                %li.list-group-item
                  %b 
                    %i.fa.fa-bolt.margin-r-5
                    Transactions in 30 days
                  %a.pull-right= @transactions.count
                %li.list-group-item
                  %b 
                    %i.fa.fa-signal.margin-r-5
                    Recent Status
                  %a.pull-right= @dev_statuses.first.status
                %li.list-group-item
                  %b 
                    %i.fa.fa-info-circle.margin-r-5
                    Some Info
                  %a.pull-right And more info
              %a.btn.btn-success.btn-block{href: '#', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Do Something"}}
                %b 
                  %i.fa.fa-refresh
                  Reset ATM
              %a.btn.bg-orange.btn-block{:href => "#", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Do Something Else"}}
                %b 
                  %i.fa.fa-archive
                  Do Something Else
        .col-md-9
          .box.box-primary
            .box-body
              %ul#myTab.nav.nav-tabs.nav-fill{:role => "tablist"}
                %li.nav-item
                  %a#transactions-tab.nav-link.active{"aria-controls" => "transactions", "aria-selected" => "true", "data-toggle" => "tab", :href => "#transactions", :role => "tab"} 
                    %i.fa.fa-bolt
                    = "Transactions" unless browser.device.mobile?
                %li.nav-item
                  %a#statuses-tab.nav-link{"aria-controls" => "statuses", "aria-selected" => "false", "data-toggle" => "tab", :href => "#statuses", :role => "tab"} 
                    %i.fa.fa-signal
                    = "Statuses" unless browser.device.mobile?
                %li.nav-item
                  %a#cuts-tab.nav-link{"aria-controls" => "cuts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#cuts", :role => "tab"} 
                    %i.fa.fa-credit-card
                    = "Cuts" unless browser.device.mobile?
                -#
                  %li.nav-item
                    %a#accounts-tab.nav-link{"aria-controls" => "accounts", "aria-selected" => "false", "data-toggle" => "tab", :href => "#accounts", :role => "tab"} 
                      %i.fa.fa-info-circle
                      = "Acounts" unless browser.device.mobile?
              #myTabContent.tab-content
                #transactions.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  = render partial: "transactions/index"
                #statuses.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  %br
                  .row
                    .col-md-6
                      .box.box-success
                        .box-header.with_border
                          .box-title
                            ATM
                        .box-body
                          = render partial: "dev_statuses/index"
                    .col-md-6
                      .box.box-warning
                        .box-header.with_border
                          .box-title
                            Cassettes
                        .box-body
                          = render partial: "cassettes"
                #cuts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                  = render partial: "cuts"
                -#
                  #accounts.tab-pane.fade.show{"aria-labelledby" => "home-tab", :role => "tabpanel"}
                    Accounts
                
:javascript
  //*** Remember the selected tab on page refresh ***
  $(function() {
    //for bootstrap 3 use 'shown.bs.tab' instead of 'shown' in the next line
    $('a[data-toggle="tab"]').on('click', function (e) {
      //save the latest tab; use cookies if you like 'em better:
      localStorage.setItem('lastTab', $(e.target).attr('href'));
    });
    //go to the latest tab, if it exists:
    var lastTab = localStorage.getItem('lastTab');
    if (lastTab) {
      $('a[href="'+lastTab+'"]').click();
    }
  });