.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        = current_user.company.name
        %small Recent payments
    / Main content
    %section.content
      - unless @processed_payment_batches.blank?
        - @processed_payment_batches.each do |payment_batch|
          .box.box-primary{"data-widget" => "box-widget"}
            .box-header.with-border
              %h3.box-title 
                = payment_batch.created_at.strftime("%B %-d, %Y")
              .box-tools.pull-right
                %button.btn.btn-box-tool{id: 'box_tool_collapse', "data-toggle" => "tooltip", "data-widget" => "collapse", :title => "Collapse", :type => "button"}
                  %i.fa.fa-minus
                %button.btn.btn-box-tool{id: 'box_tool_remove', "data-toggle" => "tooltip", "data-widget" => "remove", :title => "Remove", :type => "button"}
                  %i.fa.fa-times
            .box-body
              .text-success= payment_batch.processed_status
              .table-responsive
                %table.table.table-striped
                  %thead
                    %tr
                      %th{:scope => "col"} TranID
                      %th{:scope => "col"} ReferenceNbr
                      %th{:scope => "col"} PayeeNbr
                      %th{:scope => "col"} CustomerID
                      %th{:scope => "col"} FirstName
                      %th{:scope => "col"} LastName
                      %th{:scope => "col"} NetPaycheckAmt
                      %th{:scope => "col"} Processed
                  %tbody
                    - payment_batch.payments.each do |payment|
                      %tr{class: "#{payment.customer.blank? ? 'table-danger' : ''}"}
                        %td
                          - unless payment.TranID.blank?
                            = link_to payment.TranID, payment.ezcash_transaction
                          - else
                            N/A
                        %td= payment.ReferenceNbr
                        %td= payment.PayeeNbr
                        %td
                          - unless payment.customer.blank?
                            = link_to payment.CustomerID, payment.customer
                          - else
                            Not found
                        %td
                          - unless payment.customer.blank?
                            = payment.customer.first_name
                          - else
                            Not found
                        %td
                          - unless payment.customer.blank?
                            = payment.customer.last_name
                          - else
                            Not found
                        %td= number_to_currency(payment.PaymentAmt)
                        %td= payment.Processed? ? 'Yes' : 'No'
            .box-footer
              .pull-right= link_to 'More', payment_batch, class: 'btn btn-primary'
      - else
        %p None