.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        = current_user.company.name
        %small Dashboard
    / Main content
    %section.content
      .row
        .col-md-6
          .box.box-primary{"data-widget" => "box-widget"}
            .box-header.with-border
              %h3.box-title 
                %i.fa.fa-money
                ATMs
              .box-tools.pull-right
                = form_tag devices_path, id: 'devices_search_form', method: 'get', class: 'form-inline' do |f|
                  .input-group.input-group-sm
                    = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                    .input-group-append
                      %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                        %i.fa.fa-search
            .box-body.no-padding
              - unless @devices.blank?
                .table-responsive
                  %table.table.table-striped.table-condensed
                    %thead
                      %tr
                        %th{:scope => "col"} ID
                        %th{:scope => "col"} State
                        %th{:scope => "col"} Status
                        %th{:scope => "col"} Remaining
                        %th
                    %tbody
                      - @devices.each do |device|
                        %tr
                          %td= device.id
                          %td= device.online.blank? ? 'N/A' : "#{device_state_descriptions[device.online.to_i].truncate(15)}"
                          %td= device.status_string
                          %td= number_to_currency(device.remaining)
                          %td= link_to 'More', device, class: 'btn btn-primary btn-sm'
              - else
                &nbsp;
                None
              .box-footer
                -#
                  .pull-right= paginate @customers, param_name: 'result1'
        .col-md-6
          .box.box-success{"data-widget" => "box-widget"}
            .box-header.with-border
              %h3.box-title
                %i.fa.fa-dollar
                Recent Payments
              .box-tools.pull-right
                = form_tag payment_batches_path, id: 'payment_batches_search_form', method: 'get', class: 'form-inline' do |f|
                  .input-group.input-group-sm
                    = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                    .input-group-append
                      %button.btn.btn-success{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                        %i.fa.fa-search
                -#
                  %button.btn.btn-box-tool{id: 'box_tool_collapse', "data-toggle" => "tooltip", "data-widget" => "collapse", :title => "Collapse", :type => "button"}
                    %i.fa.fa-minus
                  %button.btn.btn-box-tool{id: 'box_tool_remove', "data-toggle" => "tooltip", "data-widget" => "remove", :title => "Remove", :type => "button"}
                    %i.fa.fa-times
            .box-body.no-padding
              -# .text-success= payment_batch.processed_status
              - unless @processed_payment_batches.blank?
                .table-responsive
                  %table.table.table-striped.table-condensed
                    %thead
                      %tr
                        %th{:scope => "col"} Date
                        %th{:scope => "col"} First
                        %th{:scope => "col"} Last
                        %th{:scope => "col"} Amt
                        %th{:scope => "col"} Processed
                        %th
                    %tbody
                      - @processed_payment_batches.each do |payment_batch|
                        - payment_batch.payments.each do |payment|
                          %tr{class: "#{payment.customer.blank? ? 'table-danger' : ''}"}
                            %td= payment_batch.created_at.strftime("%B %-d, %Y")
                            %td
                              - unless payment.customer.blank?
                                = payment.customer.first_name
                              - else
                                Not found
                            %td
                              - unless payment.customer.blank?
                                = payment.customer.last_name
                              - else
                                Not found
                            %td= number_to_currency(payment.PaymentAmt)
                            %td= payment.Processed? ? 'Yes' : 'No'
                            %td= link_to 'More', payment_batch, class: 'btn btn-primary btn-sm'
              - else
                &nbsp;
                None
            .box-footer
              -#
                .pull-right= link_to 'More', payment_batch, class: 'btn btn-primary'