#quick_pay.modal.fade
  .modal-dialog.modal-sm
    .modal-content
      .modal-header
        %h5
          %i.fa.fa-dollar
          Quick Pay
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_tag quick_pay_transactions_path, id: 'quick_pay_form', method: 'post', class: 'form-horizontal' do |f|
          = hidden_field_tag :device_id, @device.id
          .input-group.mb-3
            .input-group-prepend
              %span.input-group-text $
            = number_field_tag :amount, nil, :placeholder => "Amount", class: "form-control input-lg", required: true, step: '1', autofocus: true, :inputmode => "numeric", :min => "0", :pattern => "[0-9]*"
            .input-group-append
              %span.input-group-text .00
          .form-group
            = select_tag :customer_id, nil, prompt: 'Choose a payee', class: 'form-control', style: "width: 100%;"
            .text-muted Leave blank for Anonymous
          .form-group
            = text_field_tag :receipt_number, nil, :placeholder => "Reference Number", class: "form-control input-lg", style: "width: 100%;"
          .form-group
            = text_area_tag :note, nil, :placeholder => "Note", class: "form-control input-lg", style: "width: 100%;"
          .modal-footer
            %button.btn.btn-primary{id: 'quick_pay_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Pay & Print"}} 
              %i.fa.fa-dollar
              Pay & Print

:javascript
  $('.modal').on('shown.bs.modal', function() {
    $(this).find('[autofocus]').first().focus();
  });

  // Dropdown select for quick pay customer
  $('#customer_id').select2({
    theme: 'bootstrap',
    minimumInputLength: 3,
    ajax: {
      url: '/customers',
      dataType: 'json',
      delay: 250
    }
  });

-#
  $('#one_time_payment_pay_and_print_button').click(function() {
    var payment_amount = $('#amount' ).val();
    if (payment_amount > 0) {
      var url = "#{barcode_customer_url(@barcode_access_string)}";
      window.open(url, '_blank');
      }
    else {
      alert('Please enter amount');
    }
  });