.box.box-primary
  .box-header.with-border
    %h3.box-title 
      - unless @payroll_payment.customer.blank?
        = @payroll_payment.customer.first_name
        = @payroll_payment.customer.last_name
      - else
        No employee found
    .box-tools.pull-right= @payroll_payment.payroll_batch.created_at
  .box-body
    = form_for @payroll_payment, class: 'form-horizontal' do |f|
      .form-group
        %label{:for => "EmployeeNbr"} Employee Number
        = f.text_field :EmployeeNbr, class: "form-control input-lg"
      .form-group
        %label{:for => "CustomerID"} Customer
        =# f.text_field :CustomerID, class: "form-control input-lg" 
        = f.select :CustomerID, options_from_collection_for_select(current_user.company.customers.order(:NameL), "id", "full_name_with_member_number", @payroll_payment.CustomerID), {:include_blank => true}, class: "form-control", style: "width: 100%;"
      .input-group.mb-3
        .input-group-prepend
          %span.input-group-text $
        = f.text_field :NetPaycheckAmt, class: "form-control input-lg"
      = link_to 'Cancel', :back, class: "btn btn-default"
      %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Save"}} 
        Save
    -#
      = simple_form_for(@payroll_payment) do |f|
        = f.error_notification
        .form-inputs
          - if current_user.admin?
            .input-group.mb-3
              .input-group-prepend
                %span.input-group-text $
              = f.input :NetPaycheckAmt, as: :string, input_html: {autofocus: true}
        .form-actions
          = link_to 'Cancel', :back, class: 'btn btn-default'
          = f.button :submit, 'Save'
