- unless customer.user.blank?
  - if customer.user.confirmed?
    Sign In Count:
    = customer.user.sign_in_count
    %br
    Current Sign In At:
    = customer.user.current_sign_in_at.strftime('%-m/%-d/%Y')
    %br
    Last Sign In At:
    = customer.user.last_sign_in_at.strftime('%-m/%-d/%Y')
    %br
    Current Sign In IP:
    = customer.user.current_sign_in_ip
    %br
    Last Sign In IP:
    = customer.user.last_sign_in_ip
  - else
    .text-danger Waiting for user to confirm account
- else
  Portal user has not been created
  %p
    = form_for(customer) do |f|
      = f.hidden_field :create_payee_user, :value => true
      %button.btn.btn-primary.btn-sm{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Send Invite"}}
        %i.fa.fa-comment
        Send Invite