.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        %i.fa.fa-male
        %i.fa.fa-female
        Employees
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            Active
          .box-tools.pull-right
            %button.btn.btn-box-tool{"data-toggle" => "tooltip", "data-widget" => "collapse", :title => "Collapse", :type => "button"}
              %i.fa.fa-minus
            %button.btn.btn-box-tool{"data-toggle" => "tooltip", "data-widget" => "remove", :title => "Remove", :type => "button"}
              %i.fa.fa-times
        .box-body.no-padding
          %table.table.table-condensed
            %thead
              %tr
                %th{:scope => "col"} #
                %th{:scope => "col"} First
                %th{:scope => "col"} Last
                %th{:scope => "col"} Phone
                %th
            %tbody
              - @employees.each do |employee|
                %tr
                  %th{:scope => "row"}= employee.id
                  %td= employee.first_name
                  %td= employee.last_name
                  %td= employee.phone
                  %td= link_to 'More', employee, class: 'btn btn-primary btn-sm'
        .box-footer
          .pull-right Pagination goes here>