.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      %h1
        %i.fa.fa-male
        Employees
        %small= link_to 'New', new_customer_path
        
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            Active
          .box-tools
            -#
              .input-group.mb-3
                %input.form-control{"aria-describedby" => "basic-addon2", "aria-label" => "Recipient's username", :placeholder => "Recipient's username", :type => "text"}/
                .input-group-append
                  %button.btn.btn-outline-secondary{:type => "button"} Button
            -#
            = form_tag customers_path, id: 'customers_search_form', method: 'get', class: 'form-inline' do |f|
              .input-group.input-group-sm
                = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                -#%input.form-control.pull-right{:name => "table_search", :placeholder => "Search", :type => "text"}/
                .input-group-append
                  %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                    %i.fa.fa-search

        .box-body.no-padding
          %table.table.table-condensed
            %thead
              %tr
                %th{:scope => "col"} #
                %th{:scope => "col"} First
                %th{:scope => "col"} Last
                %th{:scope => "col"} Phone
                %th
            %tbody
              - @employees.each do |employee|
                %tr
                  %th{:scope => "row"}= employee.id
                  %td= employee.first_name
                  %td= employee.last_name
                  %td= employee.phone
                  %td= link_to 'More', employee, class: 'btn btn-primary btn-sm'
        .box-footer
          .pull-right= paginate @employees