.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-male
        Payees
        %small= link_to 'New', new_customer_path, class: 'btn bg-orange'
        - unless @customers.blank?
          .pull-right
            %a.btn.btn-default.btn-block{:href => "#", "data-toggle" => "modal", "data-target" => "#sms_message"}
              %i.fa.fa-comment
              Message
          = render 'group_sms_message'
        
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            Active
          .box-tools
            -#
              .input-group.mb-3
                %input.form-control{"aria-describedby" => "basic-addon2", "aria-label" => "Recipient's username", :placeholder => "Recipient's username", :type => "text"}/
                .input-group-append
                  %button.btn.btn-outline-secondary{:type => "button"} Button
            -#
            = form_tag customers_path, id: 'customers_search_form', method: 'get', class: 'form-inline' do |f|
              .input-group.input-group-sm
                = search_field_tag :q, params[:q], :placeholder => "Search", class: "form-control input-lg", autofocus: true
                -#%input.form-control.pull-right{:name => "table_search", :placeholder => "Search", :type => "text"}/
                .input-group-append
                  %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}}
                    %i.fa.fa-search

        .box-body.no-padding
          .table-responsive
            %table.table.table-striped.table-condensed
              %thead
                %tr
                  %th{:scope => "col"} Phone
                  %th{:scope => "col"} First
                  %th{:scope => "col"} Last
                  -# %th{:scope => "col"} ID
                  %th
              %tbody
                - @customers.each do |customer|
                  %tr
                    %th{:scope => "row"}= customer.phone
                    %td= customer.first_name
                    %td= customer.last_name
                    -# %td= customer.id
                    %td
                      = link_to 'More', customer, class: 'btn btn-primary btn-sm'
                      -# unless customer.user.blank?
                      %a.btn.btn-secondary.btn-sm{"data-content" => "#{render partial: 'user_details', locals: {customer: customer}}", "data-placement" => 'left', "data-html" => "true", "data-toggle" => "popover", "data-trigger" => "focus", :role => "button", :tabindex => "0", title: "Portal User Details"}
                        %i.fa.fa-user
        .box-footer
          .pull-right= paginate @customers, param_name: 'result1'

:javascript
  $('[data-toggle="popover"]').popover();