.box.box-primary
  .box-body
    %p 
      Format must be the following
      = link_to "(you can change column names here)", payment_batch_csv_mappings_path
    %table.table.table-bordered.table-sm
      %thead.thead-dark
        %tr
          %th{:scope => "col"}= current_user.company.reference_number_mapping.blank? ? 'ReferenceNbr' :  current_user.company.reference_number_mapping
          %th{:scope => "col"}= current_user.company.payee_number_mapping.blank? ? 'PayeeNbr' :  current_user.company.payee_number_mapping
          %th{:scope => "col"}= current_user.company.first_name_mapping.blank? ? 'FirstName' :  current_user.company.first_name_mapping
          %th{:scope => "col"}= current_user.company.last_name_mapping.blank? ? 'LastName' :  current_user.company.last_name_mapping
          %th{:scope => "col"}= current_user.company.payment_amount_mapping.blank? ? 'PaymentAmt' :  current_user.company.payment_amount_mapping
      %tbody
        %tr
          %td 0010
          %td 1234567
          %td John
          %td Smith
          %td 2345
        %tr
          %td 0011
          %td 1234568
          %td Jane
          %td Doe
          %td 2675
        %tr 
          %td 0012
          %td 1234569
          %td Rick
          %td Williams
          %td 2242
    = simple_form_for(@payment_batch) do |f|
      = f.error_notification
      .form-inputs
        - if current_user.admin?
          = f.input :CompanyNbr, :as => :hidden, :input_html => { :value => "#{@payment_batch.new_record? ? current_user.company_id : @payment_batch.CompanyNbr}" }
          = f.input :CSVFile, :as => :file, label: false, :input_html => {:accept => 'text/csv'}, required: true
      .form-actions
        = link_to 'Cancel', :back, class: 'btn btn-default'
        %button.btn.btn-primary{:type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Import CSV"}}
          Import CSV
