.box.box-primary
  .box-body
    %p 
      Format must be the following
      = link_to "(you can change column names here)", payment_batch_csv_mappings_path
      %span.pull-right
        %a{href: csv_template_payment_batches_path(format: "csv"), class: 'btn btn-sm bg-orange'}
          %i.fa.fa-download
          Download CSV Template
    %table.table.table-bordered.table-sm
      %thead.thead-dark
        %tr
          %th{:scope => "col"}= current_user.company.reference_number_mapping.blank? ? 'ReferenceNbr' :  current_user.company.reference_number_mapping
          %th{:scope => "col"}= current_user.company.payee_number_mapping.blank? ? 'PayeeNbr' :  current_user.company.payee_number_mapping
          %th{:scope => "col"}= current_user.company.first_name_mapping.blank? ? 'FirstName' :  current_user.company.first_name_mapping
          %th{:scope => "col"}= current_user.company.last_name_mapping.blank? ? 'LastName' :  current_user.company.last_name_mapping
          %th{:scope => "col"}= current_user.company.payment_amount_mapping.blank? ? 'PaymentAmt' :  current_user.company.payment_amount_mapping
          %th{:scope => "col"}= current_user.company.description_mapping.blank? ? 'Description' :  current_user.company.description_mapping
      %tbody
        %tr
          %td 0010
          %td 1234567
          %td John
          %td Smith
          %td 2345
          %td= current_user.company.description_mapping
        %tr
          %td 0011
          %td 1234568
          %td Jane
          %td Doe
          %td 2675
          %td= current_user.company.description_mapping
        %tr 
          %td 0012
          %td 1234569
          %td Rick
          %td Williams
          %td 2242
          %td= current_user.company.description_mapping
    %br
    %ul#myTab.nav.nav-pills{:role => "tablist"}
      %li.nav-item
        %a#cash-tab.nav-link.active{"aria-controls" => "cash", "aria-selected" => "true", "data-toggle" => "tab", :href => "#cash", :role => "tab"} 
          %i.fa.fa-money
          = "Cash" unless browser.device.mobile?
      %li.nav-item
        %a#checks-tab.nav-link{"aria-controls" => "checks", "aria-selected" => "false", "data-toggle" => "tab", :href => "#checks", :role => "tab"} 
          %i.fa.fa-bank
          = "Check" unless browser.device.mobile?
    #myTabContent.tab-content
      #cash.tab-pane.fade.show.active{"aria-labelledby" => "home-tab", :role => "tabpanel"}
        = simple_form_for(@payment_batch) do |f|
          = f.error_notification
          .form-inputs
            - if current_user.admin?
              = f.input :CompanyNbr, :as => :hidden, :input_html => { :value => "#{@payment_batch.new_record? ? current_user.company_id : @payment_batch.CompanyNbr}" }
              = f.input :CSVFile, :as => :file, label: false, :input_html => {:accept => 'text/csv'}, required: true
          .form-actions
            %button.btn.btn-primary{id: 'cash_payment_batch_submit_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Import CSV"}, disabled: false}
              Import CSV
            = link_to 'Cancel', :back, class: 'btn btn-default'
      #checks.tab-pane.fade{"aria-labelledby" => "home-tab", :role => "tabpanel"}
        = simple_form_for(@payment_batch) do |f|
          = f.error_notification
          .form-inputs
            - if current_user.admin?
              = f.input :CompanyNbr, :as => :hidden, :input_html => { :value => "#{@payment_batch.new_record? ? current_user.company_id : @payment_batch.CompanyNbr}" }
              = f.input :CSVFile, :as => :file, label: false, :input_html => {:accept => 'text/csv'}, required: true
              = f.input :IsCheckBatch, :as => :hidden, :input_html => { :value => 1}
          .form-actions
            %button.btn.btn-primary{id: 'check_payment_batch_submit_button', :type => "submit", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Import CSV"}, disabled: false}
              Import CSV
            = link_to 'Cancel', :back, class: 'btn btn-default'
