.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-qrcode
        Barcode Details
    / Main content
    %section.content
      / Default box
      .box.box-primary
        .box-header.with-border
          %h3.box-title 
            = @card.last_activity_date.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y %l:%M %p")
          .box-tools.pull-right
            -#
              .text-warning
                Some info here
        .box-body
          %p.lead
            = "Bank ID:"
            = @card.bank_id_nbr.to_i
          %p.lead
            = "Dev ID:"
            = @card.dev_id
          %p.lead
            = "Available Amount:"
            %br
            = number_to_currency(@card.avail_amt)
          %p.lead
            = "Date Issued:"
            = @card.issued_date
          %p.lead
            = "Receipt Number:"
            = @card.receipt_nbr
          %p.lead
            = "Card Sequence:"
            = @card.card_seq
          %p.lead
            = "Card Number:"
            = @card.id
          %p.lead
            = "Total Amount:"
            = number_to_currency(@card.card_amt)
          %p.lead
            = "Status:"
            = @card.card_status
          %p.lead
            = "Last Used:"
            = @card.last_activity_date
          %p.lead
            = "Barcode Hash:"
            = @card.barcodeHash
          