- unless @transactions.blank?
  .table-responsive
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th{:scope => "col"}= transactions_sort_link 'tranID', "#", @start_date, @end_date, @type, @transaction_id_or_receipt_number
          %th{:scope => "col"}= transactions_sort_link 'date_time', "Date", @start_date, @end_date, @type, @transaction_id_or_receipt_number
          %th{:scope => "col"} Ref
          -#
            %th{:scope => "col"}= transactions_sort_link 'error_code', "Code", @start_date, @end_date, @type, @transaction_id_or_receipt_number
          -# %th{:scope => "col"} Desc
          %th{:scope => "col"}= transactions_sort_link 'Description', "Desc", @start_date, @end_date, @type, @transaction_id_or_receipt_number
          -#
            %th{:scope => "col"} Note
          %th{:scope => "col"}= transactions_sort_link 'ChpFee', "Fee", @start_date, @end_date, @type, @transaction_id_or_receipt_number
          %th{:scope => "col"}= transactions_sort_link 'amt_auth', "Amt", @start_date, @end_date, @type, @transaction_id_or_receipt_number
      %tbody
        - @transactions.each do |transaction|
          %tr{class: transaction.reversed? ? 'table-danger' : ''}
            %th{:scope => "row"}= link_to transaction.id, transaction
            %td= transaction.date_time.in_time_zone(current_user.time_zone).strftime("%-m/%-d/%y")
            %td= "#{transaction.receipt_nbr.blank? ? 'N/A' : transaction.receipt_nbr}"
            -#
              %td
                %a{"data-content" => "#{transaction.status_long_description}", "data-toggle" => "popover", "data-trigger" => "focus",:tabindex => "0", :title => "#{transaction.error_code_long_description}"} 
                  = transaction.error_code_description
            %td= "#{transaction.Description.blank? ? 'N/A' : truncate(transaction.Description, length: 8, omission: '')}"
            -#
              %td= "#{transaction.Note.blank? ? 'N/A' : transaction.Note}"
            %td= "#{transaction.ChpFee.blank? ? number_to_currency(0) : number_to_currency(transaction.ChpFee)}" 
            %td= "#{transaction.amt_auth.blank? ? number_to_currency(0) : number_to_currency(transaction.amt_auth)}" 
- else
  &nbsp;
  None

:javascript
  $(function() {
    $('[data-toggle="popover"]').popover();
  });