.content-wrapper
  .container
    / Content Header (Page header)
    %section.content-header
      = render 'shared/flash_messages'
      %h1
        %i.fa.fa-bolt
        EZcash
        - unless @transactions.blank?
          .pull-right
            %a{href: transactions_path(format: "csv", :type => @type, 'transaction[start_date]' => @start_date, 'transaction[end_date]' => @end_date,), class: 'btn bg-orange'}
              %i.fa.fa-download
              Download CSV
        
    / Main content
    %section.content
      / Default box
      .row
        .col-md-3
          / Profile Image
          .box.box-primary
            .box-body.box-profile
              %h3.profile-username.text-center  
                %i.fa.fa-building
                = current_user.company.CompanyName
              %ul.list-group.list-group-unbordered
                - current_user.company.transaction_accounts.each do |account|
                  %li.list-group-item
                    %b 
                      Account
                      = account.ActID
                    %a.pull-right= number_to_currency(account.Balance)
              %a.btn.btn-success.btn-block{href: transactions_path, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Do Something"}}
                %b 
                  %i.fa.fa-check-circle
                  Do Something
              
        .col-md-9
          .box.box-primary
            .box-header.with-border
              %h3.box-title 
                Transactions
              .box-tools
                = form_tag transactions_path, :method => 'get', :class => "form-inline" do
                  = select_tag :type, options_for_select(["All", "Balance", "Fee", "Transfer", "Withdrawal"], @type), class: "form-control"
                  &nbsp;
                  = text_field_tag 'transaction[start_date]', nil, :placeholder => "Start Date", value: "#{@start_date.blank? ? Date.today : @start_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                  To
                  = text_field_tag 'transaction[end_date]', nil, :placeholder => "End Date", value: "#{@end_date.blank? ? Date.today : @end_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
                  &nbsp;
                  = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
                    %i.fa.fa-search
                -#

            .box-body.no-padding
              = render partial: "transactions/index"
            .box-footer
              -#
                .pull-right= paginate @customers, param_name: 'result1'
-#
  .container-fluid
    %br
    -# if params[:withdrawals].blank?
    %p
      = form_tag transactions_path, :method => 'get', :class => "form-inline" do
        = select_tag :type, options_for_select(["All", "Balance", "Fee", "Transfer", "Withdrawal"], @type), class: "form-control"
        = text_field_tag 'transaction[start_date]', nil, :placeholder => "Start Date", value: "#{@start_date.blank? ? Date.today : @start_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
        To
        = text_field_tag 'transaction[end_date]', nil, :placeholder => "End Date", value: "#{@end_date.blank? ? Date.today : @end_date}", class: "form-control input-lg", 'data-provide' => 'datepicker', 'data-date-format' => "yyyy-mm-dd", 'data-date-autoclose' => true, readonly: true
        = button_tag(:type => 'submit', :class => 'btn btn-primary', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"}) do
          %i.fa.fa-search
    %p.lead.text-muted= "#{pluralize(number_with_delimiter(@transactions_count), 'transaction')} found"

    .card.card-block
      %h4.card-title 
        %i.fa.fa-bolt
        = "EZcash: #{@type} Transactions"
        .pull-right= number_to_currency(@transactions_total)
        -#
          .pull-right
            = number_to_currency(@transactions_total)
      - unless @transactions.blank?
        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                -# %th Tran ID
                %th= transaction_sort_link 'tranID', "ID"
                %th= transaction_sort_link 'Description', "Description"
                -#
                  -# %th Device ID
                  %th= transaction_sort_link 'dev_id', "Device"
                %th= transaction_sort_link 'from_acct_id', "From"
                %th= transaction_sort_link 'to_acct_id', "To"
                -# %th DateTime
                %th= transaction_sort_link 'date_time', "DateTime"
                -# %th Code
                %th= transaction_sort_link 'error_code', "Code"
                -# %th Status
                %th= transaction_sort_link 'tran_status', "Status"
                %th= transaction_sort_link 'tran_code', "Tran Code"
                %th= transaction_sort_link 'sec_tran_code', "Sec Tran Code"
                -# %th Amount
                %th= transaction_sort_link 'amt_req', "Requested"
                %th= transaction_sort_link 'amt_auth', "Authorized"
                %th= transaction_sort_link 'ChpFee', "Fee"
                %th
            %tbody
              - @transactions.each do |transaction|
                %tr{class: "#{transaction.error? ? 'table-danger' : '' }"}
                  %td= transaction.id
                  %td= transaction.Description
                  -#
                    %td= transaction.dev_id
                  %td
                    = transaction.from_account_customer.full_name unless transaction.from_account_customer.blank?
                    = transaction.from_acct_id
                  %td
                    = transaction.to_account_customer.full_name unless transaction.to_account_customer.blank?
                    = transaction.to_acct_id
                  %td= transaction.date_time.strftime("%-m/%-d/%y %l:%M %p")
                  %td= transaction.error_code_description
                  %td= transaction.status_description
                  %td= transaction.tran_code
                  %td= transaction.sec_tran_code
                  %td= number_to_currency(transaction.amt_req)
                  %td= number_to_currency(transaction.amt_auth)
                  %td= number_to_currency(transaction.ChpFee)
                  %td
                    = link_to "Show", transaction, class: 'btn btn-secondary'
      - else
        %p.lead None

    = paginate @transactions