!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PaymentATM
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:href => "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic", :rel => "stylesheet"}/
    / Tell the browser to be responsive to screen width
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    / Font Awesome
    %link{:href => "/assets/bower_components/font-awesome/css/font-awesome.min.css", :rel => "stylesheet"}/
    / Ionicons
    %link{:href => "/assets/bower_components/Ionicons/css/ionicons.min.css", :rel => "stylesheet"}/

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body.hold-transition{class: "#{user_signed_in? ? 'layout-top-nav' : 'login-page' }"}
    .wrapper
      - unless user_signed_in?
        = render 'shared/no_user_navbar'
      - else
        - if current_user.admin?
          - unless ((params[:controller] == "customers" and params[:action] == "barcode") or (params[:controller] == "transactions" and params[:action] == "quick_pay"))
            = render 'shared/admin_user_navbar' 
        - elsif current_user.basic?
          = render 'shared/basic_user_navbar' 
        - elsif current_user.payee?
          = render 'shared/customer_user_navbar' 
      = yield
      - unless ((params[:controller] == "customers" and params[:action] == "barcode") or (params[:controller] == "transactions" and params[:action] == "quick_pay"))
        %footer.main-footer
          %strong= "Copyright © #{Date.today.year}"
          = link_to "https://www.tranact.com", target: '_blank' do
            = "Transact Payment Systems"
          = "All rights reserved."
          .pull-right
            = link_to "Terms of Service", '#'
            •
            = link_to "Privacy Policy", '#'

:javascript
  // Two scroll bar fix
  $(document).ready(function () {
    $(document).trigger("resize");
  });